body
{
    background-color: rgb(1, 1, 18);
    color: aliceblue;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 100px;
   border: 1px solid white;
   border-radius: 30px;
}

label
{
    font-weight: 600;    
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
}

#Enviar
{
    width: 100%;
    padding: 8px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}


#MudarN
{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 5px;
}

#MudarE
{
    
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 5px;

}

p
{
    position: absolute;
    top: 90%;
    right: 3%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}