body
{
    background-color: rgb(1, 1, 15);
    color: aliceblue;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 100px;
   border: 1px solid white;
   border-radius: 30px;
   box-shadow: 0 0 10px blue;
   background-color: rgb(1, 1, 18);
}

#voltar
{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

label
{
    font-weight: 600;    
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
}

#Enviar
{
    width: 100%;
    padding: 8px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

p
{
    position: absolute;
    top: 90%;
    right: 5%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}