h1
{
    text-align: center;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 100px;
   border: 1px solid black;
   border-radius: 30px;
}

label 
{
    font-weight: 600;    
    margin: 10px;
}

#Entrar
{

    position: absolute;
    top: 3%;
    right: 5%;
    padding: 8px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;

}

#Criar
{
    position: absolute;
    top: 3%;
    right: 23%;
    padding: 8px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
}

#Enviar
{
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}

#Mudar
{
    display: block;
    text-align: center;
    margin: 2%;
}

p
{
    position: absolute;
    top: 90%;
    right: 3%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}