body
{
    background-color: rgb(1, 1, 15);
    color: aliceblue;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 50px;
   border: 1px solid white;
   border-radius: 30px;
   background-color: transparent;
   box-shadow: 0 0 10px blue;
   background-color: rgb(1, 1, 18);

}

label 
{
    font-weight: 600;
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#person
{
    position: absolute;
    left: 80%;
    bottom: 59%;
    color: gray;
}

#key
{
    position: absolute;
    left: 74%;
    bottom: 45%;
    color: gray;
}

#Entrar
{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;

}

#create 
{
    position: absolute;
    top: 3%;
    right: 5%;
    padding: 8px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: aliceblue;
}

#marca
{
    position: absolute;
    top: 90%;
    right: 5%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}