body
{
    background-color: rgb(1, 1, 18);
    color: aliceblue;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 50px;
   border: 1px solid white;
   border-radius: 30px;
   background-color: transparent;
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#Entrar
{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;

}

#create 
{
    position: absolute;
    top: 3%;
    right: 5%;
    padding: 8px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: aliceblue;
}

label {
    position: relative;
    left: 2%;
    font-weight: 600;
    margin: 15px;
}

#marca
{
    position: absolute;
    top: 90%;
    right: 3%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}