body
{
    background-color: rgb(1, 1, 15);
    color: aliceblue;
}

.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 50px;
   border: 1px solid white;
   border-radius: 30px;
   box-shadow: 0 0 10px white;
   box-shadow: 0 0 10px blue;
   background-color: rgb(1, 1, 18);
}

#Voltar 
{
    position: absolute;
    top: 3%;
    left: 5%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    color: white;
    text-decoration: none;
}

input
{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#pais
{
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 95%;
  text-align: center;
}



#Criar
{
    padding: 8px;
    margin: 5px;
    border: 1px solid white;
}

p{
    position: absolute;
    top: 90%;
    right: 5%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}

